table{
    border-collapse: collapse;
    width: 100%;
    color: #b2543d;

}
th, td{
    border: 1px solid #dddddd;
    padding: 10px;
}
th{
    text-align: center;
}
td{
    height: 100px;
    text-align: left;
    vertical-align: top;
    
}
.birthday{
    background-color: #6deaea;
}
img{
    max-width: 30px; 
    height: auto;
    
}