*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --main-color: #f4f4f4;
    --dark-outline: #222;
    --light-outline: #ccc;
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--main-color);
    color: var(--dark-outline);
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin: 30px auto;
}

.main-display {
    grid-column: 1 / -1;
    height: 700px;
    border: 2px solid var(--dark-outline);
    border-radius: 8px;
    overflow: hidden;
}

.main-display img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.thumb {
    height: 120px;
    border: 2px solid var(--light-outline);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb:hover {
    border-color: var(--dark-outline);
}

.thumb:hover img {
    opacity: 0.8;
}
.my-footer{
    grid-column: span4;
    color: var(--dark-outline);
    text-align: center;
    font-size: small;
    min-height: 50px;
}