<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantic Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Video Games</h1>
        <p>Top games everyone should experience</p>
    </header>
    <main>
        <aside>
            <h3>Gamer tips</h3>
            <p>These might more advance to newcomers but he storytelling is amazing. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta a at, quos ducimus quisquam, blanditiis nulla repellat itaque mollitia quis eveniet, porro iure molestiae! Ex, temporibus. Numquam non dolores delectus?</p>
        </aside>
        <h2>Must play games</h2>
        <div class="column-card">
            <h3>The Last of us</h3>
            <img src="../images/game_one.jpg" alt="older man and young teen walking through abandon city">
            <p>Guide Joel and Ellie through a post-apocalyptic America, and encounter unforgettable allies and enemies</p>
            <span class="tooltip">
                Action Adventure/Survival Horror
                <span class="tooltiptext">Combines exploration, puzzle-solving, and combat/Emphasizes scarce resources, tension, and dangerous enemies.</span>
            </span>
        </div>
        <div class="column-card">
            <h3>Baldur's Gate 3</h3>
            <img src="../images/game_two.jpg" alt="a group of dark fantasy characters arranged dynamically against a dramatic, moody backdrop with the golden game logo at the center">
            <p>Set in the universe of Dungeons & Dragons, where your choices shape a tale of fellowship and betrayal, survival and
            sacrifice, and the lure of absolute power</p>
            <span class="tooltip">
                RPG
                <span class="tooltiptext">role-playing game</span>
            </span>
        </div>
        <div class="column-card">
            <h3>Red Dead Redemption 2</h3>
            <img src="../images/game_three.jpg" alt="silhouette of rugged man in a cowboy hat pointing a revolver at the viewer against a distressed red background">
            <p>America, 1899. After a robbery goes badly wrong in the western town of
            Blackwater, Arthur Morgan and the Van der Linde gang are forced to flee. With federal agents 
             on their heels, the gang must rob, steal and fight their way across the rugged heartland of
            America in order to survive</p>
            <span class="tooltip">
                Action-Adventure 
                <span class="tooltiptext">Combines exploration, puzzle-solving, and combat  </span>
            </span>
        </div>
    </main>
    <Footer>
        <a href="../../index.html">Back to Student Portal</a>
    </Footer>
</body>
</html>